body {
    background: #F0F7FF !important;
    overflow-x: hidden;
}

.stats-box {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    width: 800px;
    height: 200px;
    position: relative;
    left: 20%;
    top: 20px;
}

.stats-box .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.stats-box .value {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.stats-box .value span {
    font-size: 16px;
    font-weight: 400;
}

.stats-box .value span i {
    font-size: 16px;
    font-weight: 400;
    margin-right: 5px;
}

.stats-box .value span i.fa-caret-up {
    color: #00c689;
}

.stats-box .value span i.fa-caret-down {
    color: #ff5b5b;
}

.stats-box .value span i.fa-caret-right {
    color: #ff5b5b;
}

.stats-box .value span i.fa-caret-left {
    color: #00c689;
}

.stats-box .value span i.fa-caret-up:before {
    content: "\f062";
}

.stats-box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stats-box-item-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.stats-box-item-number {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.school-information-box {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    width: 700px;
    height: 120px;
    position: absolute;
    left: 15%;
    top: 20px;
}

.school-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: normal;
}

.school-location {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
}

.school-type {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}


.recomanda-starquess {
    background: #fff;
    background-image: url("https://www.adservio.ro/rimages/5c3e46e33620b579b27b..png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    width: 400px;
    height: 220px;
    position: absolute;
    left: 60%;
    top: 20px;
    filter: blur(3px);
}

.title-recommandation {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.text-recommandation {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    color: white;
}

.recommandation-link {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: none;
}

.recomanda-starquess-text {
    position: absolute;
    left: 61%;
    top: 60px;
}

.asistenta-stuff {
    padding: 20px;
    margin-bottom: 30px;
    width: 400px;
    height: 220px;
    position: absolute;
    left: 60%;
    top: 300px;
}



.actiuni {
    position: relative;
    left: 17%;
    top: 80px;
}