body {
  background: #F0F7FF !important;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.content {
  position: relative;
  left: 300px;
  height: calc(100vh - 20px);
}

.conversation-list {
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #0077FF #f1f1f1;
}

.conversation-list::-webkit-scrollbar {
  width: 6px;
}

.conversation-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.conversation-list::-webkit-scrollbar-thumb {
  background: #0077FF;
  border-radius: 20px;
}

.conversation-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.conversation-list-item {
  position: relative;
  width: 100%;
  height: 50px;
  background: #0077FF;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.conversation-list-item:hover {
  background: #0055FF;
}

.conversation-list-item-title {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  margin-left: 40px;
  margin-top: 4px;
}

.redirect-user {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.redirect-user:visited {
  color: #000;
}

.last-message {
  font-size: 0.795em;
  font-weight: 600;
  color: gray;
  margin-top: 4px;
  margin-left: 40px;
}

.messages-content {
  position: absolute;
  top: 20px;
  left: 300px;
  width: 900px;
  height: 830px; /* Adjust the height value as per your preference */
  background: #FFF;
  overflow-y: scroll;
  overflow-x: hidden;
}




.messages-content::-webkit-scrollbar {
  width: 6px;
}

.messages-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.messages-content::-webkit-scrollbar-thumb {
  background: #0077FF;
  border-radius: 20px;
}

.messages-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message-form {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-weight: bold;
  margin-bottom: 4px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 12px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.sender {
  align-self: flex-end;
  background-color: #0077FF;
  color: #fff;
}

.timestamp {
  font-size: 0.795em;
  font-weight: 600;
  color: gray;
  margin-top: 4px;
  margin-left: 40px;
}

/* Styles for the input form */
.input-form {
  position: fixed;
  bottom: 0;
  left: 300px;
  width: calc(100% - 300px);
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

.input-field {
  flex-grow: 1;
  height: 40px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.send-button {
  background: #0077FF;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}

.send-button:hover {
  background: #0055FF;
}
